/* @font-face {
    font-family: walsheim;
    src: url(gt-walsheim.otf);
    font-family: bould;
    src: url(bould-regular.otf);
} */

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: BodyFont;
    src: url(fonts/Bould-Regular.otf);
}

@font-face {
    font-family: HeaderFont;
    src: url(fonts/GT-Walsheim.otf);
}

body{
    font-family: BodyFont;
}

header{
    width: 100%;
    position: fixed;
    margin: 0 0;
    padding: 0 0;
    background: rgba(255,255,255,0);
}

header div{
    width: 40%;
}

header div img{
    width: 15%;
    padding: 20px;
}

header nav{
    width: 60%;
    text-align: right;
    padding: 20px;
}
header nav a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0 10px;
}


header nav input{
    width: 8%;
    padding: 4px;
    font-size: 15px;
    color: white;
    opacity: 100%;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(255,255,255,0);
}

header nav input:hover{
    background: rgb(35, 218, 96);
    border: 0px solid;
    padding: 6px;
}

main{
    flex: none;
}

.sec-1{
    height: 650px;
    width: 100%;
    background: rgb(7, 53, 21);
}

.sec-1 h1{
    position: absolute;
    font-family: HeaderFont;
    font-weight: bold;
    font-size: 50px;
    color: white;
    padding: 20px;
    margin-top: 200px;
    line-height: 60px;
}

.sec-1 i{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.sec-1 input[type='text']{
    position: absolute;
    font-weight: normal;
    font-size: 15px;
    width: 520px;
    padding: 15px;
    margin-top: 370px;
    margin-left: 20px;
    border-radius: 5px 0px 0px 5px;
    border: 0px solid;
}

.search-btn{
    position: absolute;
    font-weight: bolder;
    font-size: 15px;
    background: rgb(35, 218, 96);
    color: white;
    width: 120px;
    padding: 15px;
    margin-top: 370px;
    margin-left: 570px;
    border-radius: 0px 5px 5px 0px;
    border: 0px solid;
}

.search-btn:hover{
    background: rgb(12, 163, 63);
}

.sec-1 aside{
    position: absolute;
    font-weight: bold;
    font-size: 13px;
    color: white;
    padding: 20px;
    margin-top: 420px;
}

.sec-1 aside input{
    padding: 5px 13px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    background-color: rgba(255,255,255,0);
    margin-left: 10px;
}

.sec-2{
    margin: auto;
    width: 100%;
    padding: 20px;
    background: rgb(236, 236, 236);
    justify-content: center;
}

.sec-2 label{
    padding: 20px;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(161, 161, 161);
}

.sec-2 img{
    padding-left: 50px;
}

.sec-3{
    margin: 100px auto;
    width: 100%;
}

.sec-3 div h2{
    font-size: 30px;
    padding: 20px 20px;
    color: rgb(100, 100, 100);
}

.sec-3 div img{
    width: 220px;
    height: 370px;
    object-fit: cover;
    margin: 20px;
    border: 0px solid;
    border-radius: 5px;
}

.sec-3 div p{
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    padding: 20px;
    margin-top: -400px;
    margin-left: 20px;
    color: white;
}

.sec-3 div h3{
    position: absolute;
    font-size: 22px;
    padding: 20px;
    margin-top: -380px;
    margin-left: 20px;
    color: white;
}

.sec-4{
    width: 100%;
    background: rgb(231, 243, 243);
    padding-bottom: 60px;
}

.sec4-left{
    width: 40%;
    padding-top: 50px;
}

.sec-4 div h3{
    font-size: 30px;
    padding: 30px 20px;
    color: rgb(100, 100, 100);
}

.sec-4 div h4{
    font-size: 20px;
    padding: 0px 20px;
    color: rgb(32, 32, 32);
}

.sec-4 div p{
    font-size: 20px;
    padding: 20px 20px;
    color: rgb(100, 100, 100);
}

.sec4-right{
    width: 60%;
    padding-top: 50px;
}

.sec-4 video{
    margin: 60px auto;
    padding: 40px;
    width: 90%;
}

.sec-5{
    width: 100%;
    margin-bottom: 30px;
}

.sec-5 h2{
    font-size: 30px;
    margin-top: 50px;
    padding: 30px 20px;
    color: rgb(100, 100, 100);
}

.icons{
    flex-wrap: wrap;
}

.icons div{
    margin: 40px 30px;
    flex-basis: 15%;
    text-align: center;
    /*border: 2px solid;*/
}

.sec-5 div figure img{
    width: 50px;
    padding-bottom: 10px;
}

.sec-5 div a{
    text-decoration: none;
    color: black;
}

.sec-6{
    width: 100%;
    color: white;
    background: rgb(11, 4, 107);
    padding-bottom: 60px;
}

.sec6-left{
    width: 40%;
    padding: 20px;
    margin-top: 30px;
}

.sec6-left h4{
    padding: 20px 0px;
    font-size: 30px;
    font-family: HeaderFont;
    font-weight: lighter;
}


.sec6-left h4 small{
    font-size: 12px;
    font-weight: bolder;
    background: rgb(72, 63, 201);
    padding: 2px 9px;
    border-radius: 10px;
    position: absolute;
    margin: 10px 10px;
}

.sec6-left h5{
    font-family: HeaderFont;
    font-size: 40px;
}

.sec6-left h5 i{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.sec6-left p{
    font-size: 18px;
    padding: 15px 0px;
    line-height: 25px;
}

.sec6-left input{
    font-weight: bolder;
    font-size: 15px;
    background: rgb(35, 218, 96);
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    border: 0px solid;
    margin-top: 30px;
}

.sec6-left input:hover{
    background: rgb(12, 163, 63);
}

.sec6-right{
    width: 60%;
}

.sec6-right img{
    width: 90%;
    margin: 50px auto;
    padding: 50px;
}

.sec-7{
    width: 100%;
    padding-bottom: 50px;
}

.sec7-left{
    padding: 20px;
    width: 45%;
}

.sec7-left video{
    width: 90%;
    padding: 50px 0px;
}

.sec7-right{
    width: 60%;
    padding: 70px 20px;
}

.sec7-right h5{
    font-family: HeaderFont;
    font-size: 20px;
    color: grey;
}

.sec7-right blockquote{
    font-size: 31px;
    font-style: italic;
    line-height: 50px;
    margin-top: 20px;
}

.sec-8{
    width: 100%;
    margin: 20px 20px;
}

.sec-8 article{
    padding: 20px 60px;
    background: rgb(60, 98, 204);
}

.sec8-left{
    width: 30%;
    line-height: 40px;
    color: white;
}

.sec8-left i{
    font-size: 25px;
    font-style: normal;
}

.sec8-left img{
    width: 65px;
}

.sec8-left small{
    position: absolute;
    font-size: 10px;
    margin: 5px 20px;
}

.sec8-left h5{
    font-size: 32px;
    padding-top: 10px;
}

.sec8-left input{
    padding: 15px;
    border: 0px solid;
    border-radius: 5px;
    color: rgb(60, 98, 204);
    font-weight: bold;
}

.sec8-right{
    width: 70%;
}

.sec8-right picture img{
    width: 100%;
}

.column{
    display: flex;
}

.row{
    flex: none;
}

.wrap{
    flex-wrap: wrap;
}

.hcenter{
    justify-content: center;
}