*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    position: fixed;
    margin: 0 0;
    padding: 0 0;
    background: rgba(255,255,255,0);
}

header div{
    width: 40%;
}

header div img{
    width: 15%;
    padding: 20px;
}

header nav{
    width: 60%;
    text-align: right;
    padding: 20px;
}
header nav a{
    text-decoration: none;
    font-family: 'open sans', sans-serif;
    font-weight: bold;
    color: white;
    margin: 0 10px;
}

header nav input{
    width: 8%;
    padding: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    opacity: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(22, 158, 22);
}

main{
    flex: none;
}

.sec-1{
    background-image: url('resources/bg-hero-1-1792-x1.png');
    color: white;
    height: 650px;
}

.sec-1 div h1{
    font-family: 'open sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-top: 100px;
    margin-top: 0px;
}

.column{
    display: flex;
}